<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Video9_Inheritance_Interface/src/net/javavideotutorials/com/Runnable.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.javavideotutorials.com.Runnable"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Video9_Inheritance_Interface"/>
</launchConfiguration>
